:root {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --title-small-color: #7e7d7d;
    --heading-color: #3f3a64;
    --font-color: #666;
    --bg-color: #fff;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-li: #eee;
    --border-color-light: rgba(255, 255, 255, 0.1);
    --border-color-dark: rgba(0, 0, 0, 0.1);
    --nav-color: #292922;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f7f7f7;
    --bg-lightgrey: #f8f9fa;
    --layer: rgba(29, 42, 55, 0.7);
    /* dark theme */
    --bg-dark-color: #151421;
    --heading-dark-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* transition: all 0.5s linear; */
    transition: width none;
}

html, body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body a {
    transition: all 0.5s;
}

body a:hover {
    text-decoration: none;
    color: currentColor;
}

h1, h2, h3, h4, h5, h6, p, span, ul, label {
    margin: 0;
}

.btn {
    padding: 15px 50px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: all 0.5s;
    border-radius: var(--border-radius);
}

.btn:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

.btn__link {
    font-weight: 600;
    color: var(--heading-color);
    transition: all 0.5s;
}

.btn__link:hover {
    color: var(--primary-color);
}

.dark .btn__link {
    color: #eee;
}

.dark .btn__link:hover {
    color: var(--primary-color);
}
.title h3 {
    color: var(--title-small-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
}

.dark .title h3 {
    color: #7e7d7d;
}

.title h2 {
    color: var(--heading-color);
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

.dark .title h2 {
    color: #eee;
}

.title p {
    color: var(--font-color);
    font-size: 17px;
    line-height: 27px;
    opacity: 0.8;
}

.dark .title p {
    color: #c2c2c2;
}

.radius-image {
    border-radius: 8px;
}

/* Light theme */
#switchButton {
    background-color: white;
}

#switchButton .fa-sun {
    display: none;
    line-height: 45px;
}

#switchButton .fa-moon {
    display: block;
    color: white;
    line-height: 45px;
}

/* Dark Theme*/
.dark#myBody {
    background-color: var(--bg-dark-color);
}


.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}


 /* Header: Dev_Quốc Kỳ  */
.corpHeader {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: grid;
    align-items: center;
    transition: all 0.3s ease 0s;
    /* dùng cho currentColor để đổi màu navbar khi scroll */
    color: #fff;
    /* display: none; */
}

.dark .corpHeader {
    /* dùng cho currentColor để đổi màu navbar khi scroll */
    color: var(--bg-dark-color);
}

.corpHeader__wrap-navbar {
    position: relative;
    padding: 8px 0;
}

.corpHeader__logo .corpHeader__brand {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}

.corpHeader__logo .corpHeader__brand:hover {
    color: #fff;
}

.corpHeader__logo span:first-child i   {
    color: var(--primary-color);
}

.corpHeader__logo span:last-child {
    font-size: 14px;  
    display: block;
    padding-left: 46px;
    opacity: 0.9;
}

#corpNavbar li {
    padding: 0 12px;
}

#corpNavbar a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

#corpNavbar__home {
    color: #fff;
}

#corpNavbar .corpHeader__link {
    color: #fff;
    opacity: 0.8;
    transition: all 0.3s;
}

#corpNavbar .corpHeader__link:hover {
    opacity: 1;
}

.dark #corpNavbar .corpHeader__link:hover {
    opacity: 1;
}

.corpHeader__dropdown-menu {
    min-width: 190px;
    padding: 16px 0;
    left: -50%;
    border-radius: var(--border-radius);
}

.dark .corpHeader__dropdown-menu {
    background-color: var(--bg-dark-color);
    border: 1px solid var(--border-color-light);
}

.corpHeader__dropdown-menu.show::before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--bg-color);
    border: 1px solid var(--border-color-dark);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.dark .corpHeader__dropdown-menu.show::before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--bg-dark-color);
    border: 1px solid var(--border-color-light);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.corpHeader__dropdown-menu .corpHeader__dropdown-item {
    color: var(--heading-color);
    opacity: 0.8;
    padding: 6px 20px;
    transition: all 0.5s;
}

.dark .corpHeader__dropdown-menu .corpHeader__dropdown-item {
    color: #eee;
}

.corpHeader__dropdown-menu .corpHeader__dropdown-item:hover {
    background-color: transparent;
    opacity: 1;
}

.corpHeader__btn-wrap {
    display: flex;
    align-items: center;
}

.corpHeader__search {
    margin-right: 12px;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.corpHeader__search i {
    font-size: 16px;
    line-height: 45px;
    color: white;
    cursor: pointer;
}

#switchButton {
    border: none;
    font-size: 20px;
    background: transparent;
}

#switchButton .fa-moon {
    transform: rotate(-30deg);
}

.dark .corpHeader__logo .corpHeader__brand,
.dark .corpHeader .corpHeader__color {
    color: var(--heading-dark-color) !important;
}

 /* Carousel: Dev_Văn Dũng  */
 .corpCarousel .carousel {
     height: 800px;
 }
.corpCarousel .corpCarousel__item .corpCarousel__img {
           
     min-height: 800px;
}
.corpCarousel__container .carousel-item {
    animation: fadeIn 0.4s 0.3s linear;

}


@keyframes fadeIn {
     0%{opacity:0}
    25%{opacity:0.5} 
     50%{opacity: 0.6;} 
    75%{opacity: 0.8}
    100%{opacity:1}
    
}

.corpCarousel__container .carousel-control-prev {
    position: relative;
    top: -120px;
    left: 82%;
    z-index: 10;
   opacity: 1;

}
.corpCarousel__container .carousel-control-next {
    position: relative;
    top: -170px;
    left: 88%;
    z-index: 10;
   opacity: 1;

}
.corpCarousel__container .carousel-control-prev span,
.corpCarousel__container .carousel-control-next span{
    color: #000;
    display: block;
    background: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 8;
    border-radius: 50%;
   box-shadow: 0 0 15px rgb(0 0 0 / 12%);
   border: 1px solid var(--border-color);
}
.corpCarousel__container .carousel-control-prev .carousel-control__btn.active,
.corpCarousel__container .carousel-control-next .carousel-control__btn.active {
    color: #fff;
    background: var(--bg-dark-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    
}
.corpCarousel .corpCarousel__item {
    position: relative;
    height: 800px;
}
.corpCarousel .corpCarousel__item  .corpCarousel__overlay{
     background: rgba(29, 42, 55, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.corpCarousel .corpCarousel__item .corpCarousel__overlay.active {
    background: rgba(29, 42, 55, 0.8);



}
.corpCarousel .corpCarousel__item .corpCarousel__content {
    position: relative;
    z-index: 9;
    top:-574px;
     color: #fff;
     
}
.corpCarousel .corpCarousel__item .corpCarousel__content h1 {
    font-size: 65px;
    font-weight: 600;
    max-width: 800px;
    margin-bottom: 18px;
    pointer-events: none;
}
.corpCarousel .corpCarousel__item .corpCarousel__content p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: .9;
    margin-bottom: 26px;
    pointer-events: none;

}

.corpCarousel__content .CorpCarousel__wrapper {
    position: relative;
    
}


.corpCarousel__container  .corpCarousel__wave {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 7;
}
.corpCarousel__wave svg {
    width: 100%;

}
.corpCarousel__wave  .something {
    fill: var(--bg-color);
}
.corpCarousel__wave  .something.active {
    fill: var(--bg-dark-color);
}
 /* About Us: Dev_Quốc Kỳ  */
.corpAbout__left p {
    margin-top: 24px;
}

.corpAbout__left-list {
    margin-top: 24px;
    padding-top: 8px;
    list-style: none;
}

.corpAbout__left-item {
    margin-bottom: 15px;
}

.corpAbout__left-link {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.dark .corpAbout__left-link {
    color: #eee;
}

.corpAbout__left-link i {
    margin-right: 5px;
    color: var(--primary-color);
}
 /* Features: Dev_Quốc Kỳ  */
.corpFeatures {
    background-color: var(--bg-grey);
}

.dark .corpFeatures {
    background-color: #100f19;
}

.corpFeatures__left h2 {
    margin-bottom: 24px;
}

.corpFeatures__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.corpFeatures__grid-item {
    padding: 40px 30px;
    border-radius: var(--border-radius);
    text-align: center;
    background-color: var(--bg-color);
    box-shadow: 1px 1px 5px 0 rgba(1, 1, 1, 0.05);
    transition: all 0.3s ease;
}

.dark .corpFeatures__grid-item {
    background-color: #151421;
}

.corpFeatures__grid-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.corpFeatures__icon {
    margin-bottom: 25px;
}

.corpFeatures__title {
    font-size: 22px;
    line-height: 28px;
}

 /* Services: Dev_Quốc Kỳ  */
.corpServices__title h2 {
    text-align: center;
}

.corpServices__item:hover .corpServices__link {
    color: var(--primary-color);
}

.corpServices__img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.corpServices__info {
    padding: 0 20px;
}

.corpServices__link {
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    background: var(--bg-color);
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transform: translateY(-25px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.dark .corpServices__link {
    background-color: #151421;
    border-color: rgba(255, 255, 255, 0.2);
}

.corpServices__info p {
    margin-top: -10px;
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
    opacity: 0.8;
}

.dark .corpServices__info p {
    color: #c2c2c2;
}

.corpServices__btn {
    display: block;
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    color: var(--heading-color);
    border-radius: var(--border-radius);
}


 /* Gallery: Dev_Văn Dũng  */
 .success {
    background-color: var(--border-color-light);
} 
.success.active {
    background-color: var(--bg-dark-color);

}
.success .title {
    text-align: center;
}
.success__list {
    padding-bottom: 48px;
}
.success__item {
    margin-top: 30px;
    overflow: hidden;
}

.success__list img {
    width: 100%;
    transition: all 0.3s;
    z-index: 2;
    transform: scale(1);
}
.success__item:hover  img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.success__item a {
    position: relative;
    display: block;
    overflow: hidden;
}
.success__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 42, 55, 0.7);
    transition: all 0.3s;
    z-index: 1;
    opacity: 0;
}

.success__item:hover .success__overlay {
    opacity: 1;
}
.success__item {
    position: relative;
}
.success__hover {
  position: absolute;
    opacity: 0;
   transition: all 0.5s;
   z-index: 2;
   cursor: pointer;
  padding: 20px 44px;
  bottom: -100%;
  left: 0;
  visibility: hidden;
}
.success__item:hover .success__hover {
    visibility: visible;
    bottom: 0;
    opacity: 1;
}
.success__hover h3{
   color: #fff;
   font-size: 24px;
}
.success__hover p {
    color: #eee;
    font-size: 18px;
}
/* inline library */
.lb-data .lb-caption {
    padding-top: 1em;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 600;
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-top: 1em;
    font-size: 16px;
    color: var(--primary-color);
}
.lb-nav a.lb-next {
    display: none;
}
.logo {
    position: relative;
}
.logo::before {
  content: '';
  position: absolute;
  top:0;left: -20px;
  width: 103%;
}

.logo__wrap {
    justify-content: center;
  border-top: 1px solid #EEE;

}
.logo__wrap.active {
  border-top: 1px solid #282730;

}
.logo__img  {
    margin-top: 50px;
    
}
.logo__wrap .logo__img  img{
    max-width: 100%;
    height: auto;
    padding-right: 30px;
}


 /* Clients: Dev_Văn Dũng  */

 /* Progress: Dev_Quốc Kỳ  */
 .corpProgress__info {
    margin-bottom: 24px;
}

.corpProgress__info--last {
    margin-bottom: 0;
}

.corpProgress__title {
    font-size: 18px;
    font-weight: 400;
    color: var(--heading-color);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.dark .corpProgress__title {
    color: #eee;
}

.corpProgress__wrap {
    height: 4px;
    overflow: unset;
}

.dark .corpProgress__wrap {
    background-color: #100f19;
}

.corpProgress__percent {
    position: relative;
    overflow: unset;
}
.corpProgress--gradient1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.corpProgress--gradient2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.corpProgress--gradient3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.corpProgress--gradient4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.corpProgress__percent::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0.3;
    border-radius: 50%;
    border: 1px solid;
    right: 0%;
    top: 40%;
    transform: translate(50%, -50%);
}

.corpProgress__percent::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 3px solid;
    background-color: var(--bg-color);
    right: 0%;
    top: 40%;
    transform: translate(50%, -50%);
}


 /* Testimonials: Dev_Quốc Kỳ  */
.corpTesti {
    background-color: var(--bg-lightgrey);
}

.dark .corpTesti {
    background-color: #100f19;
}

.corpTesti__item {
    padding: 40px 30px;
    display: block;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.corpTesti__quote {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    opacity: 0.8;
}

.dark .corpTesti__quote {
    color: #eee;
}

.corpTesti__desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpTesti__img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.corpTesti__people {
    text-align: left;
}

.corpTesti__people h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.corpTesti__list .owl-dots {
    margin-top: 30px;
    text-align: center;
}

.corpTesti__list .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin: 1px 6px;
    opacity: 0.5;
    transition: 0.3s;
}

.corpTesti__list .owl-dots .owl-dot:hover {
    transform: scale(1.5);
    opacity: 1;
}

.corpTesti__list .owl-dots .owl-dot.active {
    transform: scale(1.5);
    opacity: 1;
}

.corpTesti__list .owl-dots .owl-dot span {
    margin: 5px 2px;
}

 /* Blog: Dev_Văn Dũng  */
 .news {
    padding-bottom: 90px;
 }
 .news .title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    
}
.news .title h3 {
    margin-bottom: 14px;
}
.news__item {
    border: 1px solid transparent;
 

}
.news__item .news__img {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    overflow: hidden;
}
.news__item .news__img.active {
    border: 1px solid #44434D;
   
}
 .news__item .news__img img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   transition: all 0.3s;
   transform: scale(1);

}
.news__item:hover  .news__img img {
transform: scale(1.1);
cursor: pointer;

}
.news__item:hover  .news__img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.news__item .news__content {
    box-shadow: 0px 25px 98px 0px rgb(0 0 0 / 4%);
   padding: 18px 22px;
 
}
.news__item .news__content.active {
    border-left: 1px solid #44434D;
    border-bottom: 1px solid #44434D;
    border-right: 1px solid #44434D;
    border-bottom-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
.news__item .news__content h3 a{
    font-weight: 400;
    font-size: 17px;
    color: #999;
}
.news__item .news__content h2 a {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 10px;
    transition: all 0.5s;
}
.news__item .news__content h2:hover a {
    color: var(--primary-color);
} 
.news__item .news__content .news__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;
}
.news__item .news__content .news__footer::before {
 content: '';
 position: absolute;
 bottom: 55px;
 left: -22px;
 width: 114.6%;
 border: 1px solid #eee;
}
.news__item .news__content .news__footer  a {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 26px;
}
.news__item .news__content .news__footer  a:hover {
    color: var(--primary-color);

} 
.news__item .news__content .news__footer  a span {
    font-size: 16px;
    color: #999;

}
.news__item .news__content .news__footer p {
    margin-bottom: 0;
    font-size: 16px;
    color: #999;
}
 /* Research: Dev_Văn Dũng  */


 /* Footer: Dev_Văn Dũng  */
.footer__container {
    background-image: url(../image/footer/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #151421;
    border-bottom: 1px solid #33333B;
}
.footer__container .title {
   text-align: center;
}
.footer__subscribe {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.footer__container .title h3 {
    font-size: 35px;
    color: #fff;
    padding-top: 100px;
    margin-bottom: 24px;
}
.footer__container .title p {
    font-size: 17px;
    color: #eee;
}
.footer__input {
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
    margin-top: 50px;

}
.footer__input div {
    color: #999;
    padding: 18px 15px;
    border: 1px solid #33333B;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
}
.footer__input input{
  width: 34%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px 15px;
  border: 1px solid #33333B;
  width: 100%;

}
.footer__input a {
    padding: 18px 28px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.footer__input a:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

 /* Contact Us: Dev_Văn Dũng  */
.corpContact {
    
    background: var(--bg-dark-color);
    padding: 70px 0;
}

.footer__logo .footer__home{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 30px;
    display: block;
}
.footer__logo a span:first-child {
    color: var(--primary-color);
    margin-right: 5px;
    font-size: 28px;

}
.footer__logo a span:last-child {
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding-left: 46px;
    opacity: 0.9;
}
.footer__logo p {
    font-size: 18px;
    line-height: 28px;
    color: #636973;
    font-weight: 550;
}
.footer__socials {
    display: flex;
    list-style: none;
    padding-top:26px;
}
.footer__socials li a {
    margin-right: 24px;
    font-size: 16px;
    color: #636973;
}

.footer__contact {
    list-style: none;
}
.footer__contact .footer__heading {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #fff;
    letter-spacing: .5px;
}
.footer__contact li {
    margin-bottom: 10px;
}
.footer__contact li,
.footer__contact li a  {
    font-size: 18px;
    color: #636973;
    font-weight: 550;
    transition: 0.5s all;
}
.footer__contact li a:hover,
.footer__socials li a:hover {
    color: #fff;
    opacity: 1;
}
 /* Copyright: Dev_Văn Dũng  */
.corpCopyright {
    text-align: center;
    background-color: #151421;
    border-top: 1px solid #33333B;
}
.corpCopyright span{
     font-size: 18px;
    color: #7F8A94;
    margin: 22px 0;
    display: inline-block;
    opacity: 1;
    letter-spacing: .5px;
    position: relative;
    margin-right: 10px;
}

.corpCopyright span:last-child::before  {
    content: '';
    position: absolute;
    height: 18px;
    left: -8px;
    top: 4px;
    border: 1px solid #7F8A94;
     
}

.corpCopyright span:last-child a {
    color: var(--primary-color);
    transition: all .6s;
}
.corpCopyright span:last-child a:hover {
    color: #fff;
}
/* backtoTOp: Dev_Tran_Van_Dung */
.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;

    background: var(--primary-color);
    padding: 0;
    line-height: 50px;
    border-radius: 35px;
    text-align: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}
.backToTop  i {
    color: #fff;
}
body .backToTop  a:hover {
    color: #fff;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
/* Responsive */
@media screen and (max-width:992px) {
    .title h2 {
        font-size: 32px;
        line-height: 40px;
    }

    /* Responsive Header */
    .corpHeader__list {
        text-align: center;
        padding-top: 20px;
    }

    .corpHeader__dropdown-menu.show::before {
        top: 34px;
    }

    .dark .corpHeader__dropdown-menu.show::before {
        top: 34px;
    }

    .corpHeader__dropdown-menu {
        text-align: center;
    }

    .corpHeader__item, .corpHeader__dropdown-item {
        padding: 6px 0;
    }

    .corpHeader__toggler {
        width: 34px;
        height: 34px;
        border: none;
        border-radius: 4px;
        background-color: var(--primary-color);
        padding: 0;
    }
    
    .corpHeader__toggler-icon {
        border: none;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    #corpNavbar {
        max-height: calc(100vh - 80px);
        overflow-y: scroll;
    }
    
    .corpHeader__btn-wrap {
        position: absolute;
        top: 25%;
        right: 48px;
        opacity: 0;
        transition: all 0.5s;
    }
    
    #iconClose {
        display: none;
    }

    .corpHeader__input:checked ~ .corpHeader__toggler #iconClose {
        display: block;
    }

    .corpHeader__input:checked ~ .corpHeader__toggler #iconBars {
        display: none;
    }

    #corpNavbar.show .corpHeader__btn-wrap {
        top: 6%;
        right: 48px;
        opacity: 1;
    }

    /* Carosel */
    .corpCarousel .carousel {
        height: 700px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__content h1 {
        font-size: 50px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__img {
        min-height: 700px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__content {
        top: -492px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__overlay {
        height: 87.5%;
    }
    .corpCarousel__container .corpCarousel__wave {
        bottom: -2px;
    }
    .corpCarousel__container .carousel-control-next {
        top: -252px;
    }
    .corpCarousel__container .carousel-control-prev {
        top: -203px;
       left: 80%;
    }
  
}
  
@media screen and (max-width:768px) {
    /* Features */
    .corpFeatures__left p {
        margin: 14px 0 26px;
    }

    /* Testimonials */
    .corpTesti__item {
        padding: 20px 30px;
    }
    /* Carosel */
    .corpCarousel .corpCarousel__item .corpCarousel__content h1 {
        font-size: 45px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__content p {
        font-size: 18px;
        line-height: 28px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__content {
        top: -451px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__img {
        min-height: 650px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__overlay {
        height: 81.2%;
    }
    .corpCarousel__container .corpCarousel__wave {
        bottom: 48px;
    }
    .corpCarousel__container .carousel-control-prev {
        top: -250px;
        left:75%;

    }
    .corpCarousel__container .carousel-control-next {
        top:-300px;
        left:85%;
    }
    .news__item .news__content .news__footer::before {
        width: 109.6%;
    }
    
}

@media screen and (max-width:576px) {
    .title h2 {
        font-size: 30px;
        line-height: 38px;
    }

    /* Features */
    .corpFeatures__left p {
        margin-bottom: 10px;
    }
    /* Carosel */
    .corpCarousel .corpCarousel__item .corpCarousel__content h1 {
        font-size: 40px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__content {
        top: -404px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__img {
        min-height: 600px;
    }
    .corpCarousel .corpCarousel__item .corpCarousel__overlay {
        height: 75%;
    }
   
    .corpCarousel__container .corpCarousel__wave {
        bottom: 100px;
    }
    .corpCarousel__container .carousel-control-prev {
        top: -288px;
        left:70%;

    }
    .corpCarousel__container .carousel-control-next {
        top:-337px;
        left:84%;
    }
    .footer__logo {
        padding-bottom: 50px;
    }
    .footer__socials {
        padding-top: 20px;
    }
    .footer__contact {
        padding-bottom: 40px;
    }
}

@media screen and (max-width:480px) { 
      /* Carosel */
    .corpCarousel .corpCarousel__item .corpCarousel__content h1 {
        font-size: 36px;
    }
}